@import "tailwindcss";

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "General Sans", sans-serif;
  background-color: #FAFAFA;
}

.auth-button-shadow {
  box-shadow: 0px 16px 32px -12px #0E121B1A;
}
